In [ ]:
# Add `!` preceding the command to run shell commands
# Curl accepts ranges
!curl -O "https://s3.amazonaws.com/tripdata/2014[01-12]-citibike-tripdata.zip"
!unzip '*.zip'
!rm *.zip

In [ ]:
# Get file names
import glob
filenames = glob.glob('*.csv')

In [ ]:
import pandas as pd
# Loop through file names and read the data
dfs = []
for file in filenames:
    print('Reading ' + file)
    dfs.append(pd.read_csv(file))

In [ ]:
# Remove .csv files as we no longer need them
!rm *.csv

In [ ]:
dfs[7].head(2) # Check August

In [ ]:
dfs[8].head(2)  # Check September

In [ ]:
print('Converting month:')
for month in range(12):
    if month < 8:
        print('... ' + str(month + 1))
        dfs[month]['starttime'] = pd.to_datetime(dfs[month]['starttime'])
        dfs[month]['stoptime'] = pd.to_datetime(dfs[month]['stoptime'])
    else:
        print('... ' + str(month + 1))
        dfs[month]['starttime'] = pd.to_datetime(dfs[month]['starttime'],
                                                 format = '%m/%d/%Y %H:%M:%S')
        dfs[month]['stoptime'] = pd.to_datetime(dfs[month]['stoptime'],
                                                format = '%m/%d/%Y %H:%M:%S')

In [ ]:
# Confirm that the data type for the two variables is now datetime64
dfs[8].dtypes

In [ ]:
# Check the format of the time stamps
# (simply looking at the last rows will show an example
# that used to be in the different format - post September)
dfs[8].tail(2)

In [ ]:
df = pd.concat(dfs)

In [ ]:
df.shape

In [ ]:
df.to_csv('../Data/citibike_2014.csv', encoding='utf-8', index=False)